<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員一覧</title>
</head>
<body>
	<a th:text="${title}"></a>
	<table border="1" style="border-collapse:collapse">
        <thead style="background:yellow">
            <tr>
                <td>社員番号</td>
                <td>社員名前</td>
                <td>社員年齢</td>
                <td>社員給与</td>
                <td>社員部門</td>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${emp_list.size()} eq 0">
                <td colspan="5">社員情報が存在しません。</td>
            </tr>
            <tr th:each="employee:${emp_list}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.age}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.department}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>